.caret-blink {
  animation: fadeInOut 0.5s linear 1 forwards;
  animation-iteration-count: infinite;
}

@keyframes fadeInOut {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.accent-color {
    color: #FBDB93;
    font-style: normal;
}

a {
    color: #BE5B50;
}

a:hover {
    color: #FBDB93;
}

li {
    list-style-type: "> ";
}

hr {
    border-color: #FBDB93;
    border-top: 1px;
}

* {
  font-variant-ligatures: none;
}

.navbar-link-container {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar-link {
    list-style: none;
}

body {
    background-color: #000000;
    color: #BE5B50;
    font-family: 'JetBrains Mono', monospace;
}