---
import DefaultLayout from "../layout/default_layout.astro";
import AsciiBlock from "../components/ascii_block.astro";
import icon from '/icon.txt?raw';
import flavor from '/flavor.txt?raw';
import AsciiContainer from "../components/ascii_container.astro";
---

<style>
    .index-containers {
        margin: 2em;
    }
</style>

<DefaultLayout
    title="Home"
    description="a corner of the internet for a cr1ttr..."
    openGraphTitle="crittr.github.io"
    openGraphImage="/favicon.png"
>
    <AsciiBlock size="4px" color="var(--yellow-11)">{icon}</AsciiBlock>
    <div class="index-containers">
        <AsciiContainer label="welcome to my website!"><pre>
- use the `cd` command or the buttons on the nav to get around.
- disable oneko with `no-neko` (not implemented)
- disable crt-overlay with `no-crt` (not implemented)</pre>
        </AsciiContainer>
    </div>
    <AsciiBlock size="4px" color="var(--gray-8)">{flavor}</AsciiBlock>
</DefaultLayout>
